*{
    margin: 0;
    padding: 0;
}

.grid {
    padding: 15px;
    border: 1px solid black;
}

.grid .col{
    box-sizing: border-box;
    width: 33.33%;
    height: 300px;
    float: left;
    padding: 15px  ;
    border: 1px solid black;
}

.grid .col-content{
    width: 100%;
    height: 100%;
    background: red;
    border: 1px solid black;
}

.grid::after{
    content: '';
    display: block;
    clear: both;
}