*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to right, #15bc58, #af59bc);
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    width: 1200px;
    padding: 15px;
    margin: 0 auto;
   
}

.grid .col{
    box-sizing: border-box;
    
    height: 300px;
    float: left;
    padding: 15px  ;

}

.grid .col-content{
    width: 100%;
    height: 100%;
    background: rgba(255, 0, 0, 0.548);
    
    font-size: 1.6rem;
}

.grid::after{
    content: '';
    display: block;
    clear: both;
}

.pai{
    width: 100vw;
    height: 100vh ;
    background-color: #15bc58;
    
}



.color-one{
    background: #af59bc;
}

.color-two{
    background: yellow;

}

p{
    font-size: 2.5rem;
}

.menu{
    background-image: linear-gradient(to right, #15bc58, #af59bc);
    position: fixed;
    width: 100%;
}

.menu ul{
    list-style: none;
    display: block;
    padding: 0 30px;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;   
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: rgba(128, 128, 128, 0.418);
}

@media (max-width: 568px){
    .grid .col{   
        width: 100%;
    }
}

@media (min-width: 569px) and (max-width: 768px){
    .grid .col{   
        width: 50%;
    }
}

@media (min-width: 769px) and (max-width: 1200px){
    .grid .col{   
        width: 33.33%;
    }
}

@media (min-width: 1201px) {
    .grid .col{   
        width: 25%;
    }
}