div p{
    color: red;
    background-color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 1px;
    word-spacing: 10px;
    line-height: 30px;
    text-align: justify;
    text-decoration: underline;
    text-indent: 50px;
    text-shadow: 1px 1px 7px black;
    text-transform: ;

}