@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-conteiner{
    display: flex;
    flex-direction: column ;
    background: red;
    height: 500px;

}

.flex-item{
    background: yellow;
}