@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-conteiner{
    display: flex;
    background: red;
    justify-content:space-between;
    flex-wrap: wrap;

}

.flex-item{
    width: 32%;
    height: 200px;
    margin: 10px;
    background: yellow;

}  