@charset "UFT-8";

*{
    margin: 0px;
    padding: 0px;
}



body{
    background: #00081D;
    
}

header{
    margin: auto;
    width: 85vw;
    height: 95vh;
    color: white;
    

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url('https://assets.nflxext.com/ffe/siteui/vlv3/39f3c979-c105-4948-9c51-611eedf3a6fd/36ddf343-62a3-41a5-8da6-7745fc668cac/BR-pt-20230612-popsignuptwoweeks-perspective_alpha_website_medium.jpg');;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    margin-top: 25px ;
    margin-bottom: 25px;
    
}

div#heading{
    display: flex;
    justify-content: space-between;
    padding-bottom: 140px;
    margin-right: 25px;
}

.display-flex{
    display: flex;
}

header h1{
    margin: 15px 25px;
    font-size: 1.9em;
    text-transform: uppercase;
    color: rgba(229, 9, 20, 1);
    text-shadow: 1px 1px 5px black;
}

header h1 a {
    text-decoration: none;
}

header h1 a:visited{
    color: rgba(229, 9, 20, 1);
}

#language{
    margin-right: 15px;
    margin-top:20px;
    appearance: none;
    background: rgba(0, 0, 0, 0.51);
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 7px;
    text-align: center;
    border: 1px solid white;
    font-size: 18px;
    font-weight:lighter;
    box-shadow: 1px 1px 3px black;
    text-shadow: 1px 1px 3px black;
}

.button{
    margin-top: 22px;
    background: red;
    width: 85px;
    height: 35px;
    border-radius: 7px;
    text-shadow: 1px 1px 3px black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid red;
}

.button:hover{
    background-color: rgb(211, 0, 0);
    border: 1px solid rgb(211, 0, 0) ;
}

.button:active{
    background-color: rgb(197, 0, 0);
    border: 1px solid rgb(197, 0, 0);
}

.text-left{
    margin: 15px 25px;
    width: 50%;
    
}

header div.text-left h2{
    font-size: 2.3em;
    margin-bottom: 10px;
    font-weight: bolder;
    text-shadow: 1px 1px 5px black;
    padding-bottom: 25px ;
}

header div.text-left p{
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 10px black;
    font-size: 17px;
    padding-bottom: 20px;
    line-height: 25px;
}

#email{
    width: 50%;
    height: 50px;
    appearance: none;
    background: rgba(0, 0, 0, 0.5);
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid white;
    margin-right: 15px;
    padding-left: 13px;
    
}

.bnt{
    
    background: red;
    width: 50% ;
    height: 50px;
    border-radius: 7px;
    text-shadow: 1px 1px 3px black;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid red;
}

.bnt:hover{
    background-color: rgb(211, 0, 0);
    border: 1px solid rgb(211, 0, 0) ;
}

.bnt:active{
    background-color: rgb(197, 0, 0);
    border: 1px solid rgb(197, 0, 0);
}

main{
    margin: auto;
    width: 85vw;
    color: white;
    background-image:linear-gradient(135deg, #00081D, #3C0820 ) ;
    border-radius: 10px;
}

.main-conteiner{
    width: 85%;
    margin: auto;
}

img{
    width: 50%;
    margin-bottom: 30px;
}

.Space{
    width: 100%;
    height: 10px;
    background: #30243D;
    border-radius: 10px;
    margin-bottom: 30px;
}

.center{
    font-weight: bolder;
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(27%);
    font-size: 20px;
}